version: '3'
services:
  obras:
    build: ./obrasCatalogService/
    image: obras_catalog_service:1.0.0
    # ports:
    # - "5000:5000"
    # volumes:
    # - .:/code
    # - logvolume01:/var/log
    # links:
    # - redis
  # redis:
  #   image: redis
  ratings:
    build: ./ratingsService/
    image: ratings_service:1.0.0
    # ports:
    # - "5001:5000"
  obras_web_app:
    build: ./webapp/obras_web_app/
    image: obras_web_app:1.0.0
    # ports:
    # - "80:80"
    environment:
      - REACT_APP_OBRAS_API_URL=http://localhost/obras-catalog-service/
      - REACT_APP_RATINGS_API_URL=http://localhost/ratings-service/
  
  proxy:
    build: ./reverse_proxy
    image: reverseproxy:1.0.0
    ports:
    - "80:80"

# volumes:
#   logvolume01: {}

