apiVersion: v1
kind: Service
metadata:
  name: webapp-service
  labels:
    app: webapp
spec:
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  selector:
    app: webapp
    tier: frontend
  # type: LoadBalancer

---

apiVersion: apps/v1
kind: Deployment

metadata:
  name: webapp
spec:
  selector:
    matchLabels:
      app: webapp
      tier: frontend
  replicas: 1
  template:
    metadata:
      labels:
        app: webapp
        tier: frontend
    spec:
      containers:
      - name: webapp
        imagePullPolicy: IfNotPresent
        image: martinsaporiti/obras_web_app:1.0.0
        env:
        - name: REACT_APP_OBRAS_API_URL
          value: obras-service/obrasCatalogService/api/v1/
          # value: obras/obrasCatalogService/api/v1/
        - name: REACT_APP_RATINGS_API_URL
          value: ratings-service.service/ratingsService/api/v1/obra/
        ports:
        - containerPort: 80